body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img {
    width: 100%;
    height: 450px;
}

ul {
    display: block;
    margin: 5px 0;
  
}

li {
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid orange; 
    background-color: #DAE8FC;
    border-radius: 5px;
    cursor: pointer;    
    margin: 5px 3px auto;
    text-align: center;
   
    
}

.li-selected {
    border: 1px solid orange; 
    background-color: #DAE8FC;
    cursor: pointer;
   
}

.li-disabled {
    border: 1px solid orange; 
    background-color: #DAE8FC;
    cursor: pointer;
       
}

.li {
    border: 1px solid orange; 
    background-color: #DAE8FC;
    cursor: pointer;
}

.li{
    border: 1px solid orange; 
    background-color: #DAE8FC;
    cursor: pointer;
}

.main-content {
    border: 3px solid orange;
    margin: 80px auto;
    width: 70%;
    height: auto;
    padding: 15px 15px;
}

.div-row {
    display: block;
    padding: 10px 20px;
}

select, input, button {
    height: 30px;
    border-radius: 4px;
    font-size: 1em;
}

select {
    width: 70%;
}

button {
    background-color: #DAE8FC;
    font-size: 1em;
    width: 200px;
    margin-top: 8px;
    border:3px red solid ;
}


.div-row label {
    width: 25%;
    display: inline-block;
    text-align: left;
    padding-right: 15px;
}

.w-30 {
    width: 30%;
}

.center {
    text-align: center;
}


footer{
    width: 100%;
    height: 550px;
    background-color: orange;
    text-align: center;
    padding: 5px;
  }


h2{
    color:white
}
h1{
    color: white;
    
}
p{
    color: white;
    text-align: center;
}

h1 p{
    text-shadow: 5px #4f87d4;
}
footer img{
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    margin-right: auto;
    margin-left: auto;
}


#social img:hover{
    animation-name: animacion 1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: animacion1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate ;
}
@keyframes animacion1{

    0%{
        transform:scale(1);
    }
    33%{
        transform:scale(0.5);
    }
    66%{
        transform:scale(1);
    }
    100%{
        transform: scale(1.5);
    } 
}

#menu li:hover{   
     animation-name: animacion 2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: animacion2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate ;
}
@keyframes animacion2{

    
    100%{
        transform: scale(1.5);
    } 
}

.formulario {
    width: 80%;
    margin: 10px auto;
    height: 350px;
    border: 1px solid rgb(218, 248, 170);
    box-shadow: 4px 4px 5px 1px rgb(218, 248, 170);
    display: flex;
    flex-direction: column;
    
}


